body{
  background-color: blanchedalmond;
}
.App{
  background-color: blue;
  min-height: 450px;
  width: 350px;
  margin: 40px auto;
}
#todoform input{
  background-color: rgb(224, 214, 214);
  border: 1px;
  width: 270px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  font-style: normal;
  border-radius: 10px;
  color: black;

}
#todoform input::placeholder{
  color: rgb(31, 28, 28);
}

#todoform input:focus,#todoform button:focus{
  outline: none;
}
#todoform button{
  height: 50px;
  width: 350px;
  background-color: aqua;
  width: 350px;
  padding: 0 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;

}