.task{
    color: white;
    width: 300px;
    background-color: rgb(43, 226, 171);
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;
    text-align: center;
    

}
.task p{
    padding: 10px;
    position: relative;
}
.task p span{
    position: absolute;
    left: 10px;
    cursor: pointer;
}
.ticons{
    margin:  5px;
    font-size: 15px;
}